<div class="jumbotron">
  <h3 align="center">Your shattered iPhone X screen is going to cost <strong>$499</strong> to replace?!</h3>
  <h4 align="center">Maybe it's time to grab a</h4><br>
  <div align="center" class="lglogo">
    <%= image_tag 'logo4.png', alt: 'large LoanFone logo' %>
  </div>
</div>

<%= render 'carosel' %>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-6 lists">
      <h2>Dead phone?</h2>
      <ul>
        <li>Smashed screen?</li>
        <li>Water damage?</li>
        <li>Camera broken?</li>
        <li>Microphone distorted?</li>
        <li>No coverage?</li>
      </ul>
    </div>
    <div class="col-md-6 lists">
    <%#= image_tag 'good.jpg', alt: 'happy new phone icon' %>
    <h2>Loan\Fone!</h2>
      <ul>
        <li>You choose your favourite brand!</li>
        <li>Extensive phones available!</li>
        <li>Pickup or delivery!</li>
        <li>How long? Your choice!</li>
        <li>No worries!</li>
      </ul>
  </div>
</div>
