.jumbotron {
  background: url(loanfonewall.jpg);
  background-size: cover;
  background-position: top;
}

.lists {
  text-align: center;
  ul {
    list-style: none;
  }
  h2 {
    padding-left: 30px;
  }
}
